/* Add  admission numbers and names here if possible*/
#myHeader, #myHeader2, #myHeader3{

  padding: 20px 10px;
  background-color: black;

}

#myHeader a ,#myHeader2 a ,#myHeader3 a{
  float: right;
  color: white;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
    padding: 10px;

}
.mynav_link , .myNav_link{
  text-align: center;
  font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
}


#myHeader a:hover, #myHeader2 a:hover, #myHeader3 a:hover {
  background-color: pink;
  color: black;
   border-radius: 10px;
}
.myImage {
  /* The image used */
  background-image: url("artist.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portfolio1{
  background-image: url(rose.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .first_Img{
   border-radius: 50%;
 width: 500px;}

.first_img {
  border-radius: 50%;
  width: 200px;
}
.workpiece_img{
  width: 50px;
  border-radius: 45%;

}
.bio_img{
  width: 200px;
  border-radius: 70%;
}
@media (min-width:900px){
  .topintro{
    background-color: var(--clr-acc);
    background-image: url(rose.jpg);
    background-size: cover;
    display: grid;
    grid-column-gap: 1em;
    width: min-content;
    margin: 0 auto;
    grid-template-areas:
     "img title"
     "img subtitle";
    grid-template-columns: min-content max-content;
  }

.topintro h1,  {
  font-family: cursive;
  font-size: 40px;
  font-style: italic;
}
.title  {
  text-align: center;
 font-family: cursive;
 font-size: 40px;
 font-style: italic;
}
 .title1 {
   font-family: cursive;
   font-size: 30px;
   font-style: italic;
 }
 .portfolio_detail{
   font-family: cursive;
   font-size: 25px;
   font-style: italic;
   font-weight:bolder;
 }



.secsubtitle_bio {
  background-color: purple;
  border-radius: 50px;
  color: black;
  font-size: 20px;
  width: 300px;
}
.subtitle{
  background-color: purple;
  border-radius: 50px;
  color: black;
  font-size: 20px;
  width: 300px;
}

.skill{
  font-size: 19px;
  font-family: cursive;
  font-style: italic;
  font-weight: bold;
}
.skill h3{
  color:purple;
font-style:italic;
font-family: cursive;
font-size:
}
.skill{
  text-align: center;
  margin: 10px;
  padding: 20px;
  border-style: unset;
  width: 300px;
  height:200px;
 margin: 0 auto;
  }
}

  img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.myskills {
  background-color: var(--clr-acc);
  background-image: url(rose.jpg);
  background-size: cover;/*doesn't repeat*/
  color: var(--clr-light);
  background-blend-mode: multiply;
  text-align: center;
  width: auto;
}

.sectitle_bio{
  font-family: cursive;
  font-size: 30px;
  text-align: center;
}
footer {
  background-color: black;
color: purple;
font-family: cursive;
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;

}

.footer_link{
  font-weight: var(--fw-bold);
}
.footer_link:hover {
  text-decoration: underline;
}

.footer_link:hover, socialitemlink:hover{
  opacity: 50%;

}

.social_links{
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0;

}

.socialitem {
  display: block;
  margin: 0 .8em;
}

.socialitem_link{
  padding: .2em;
}

.bio{

  background-image: url(background.jpg);
  background-size: cover;
}
.bio_body{
  text-align: center;
  font-style: italic;

  font-weight: 60px;
  font-family: cursive;
}

.myprojects {
    background-color: var(--clr-acc);
    color: var(--clr-light);
    text-align: center;
    background-image: url(back.jpg);
    background-blend-mode: multiply;
  }

  .mywork{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  }

  .workpiece_img {
    height: 300px;
    width: 500px;
    padding: .2rem;
  }

  .workpiece_img:hover{
    transform: scale(1.02);
    opacity: 0.7;
  }
  .sectitle , .secsubtitle{
    color: purple;
  }
